.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #009933;
    color: white;    
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 1 4px 4px 1;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        background-color: #00CC33;
        border-left: 1px green;
    }

    .custom-dropdown--white::after {
        color: black;
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select             { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}
.btn-ko {
  background: #8cc27e;
  background-image: -webkit-linear-gradient(top, #8cc27e, #4a942c);
  background-image: -moz-linear-gradient(top, #8cc27e, #4a942c);
  background-image: -ms-linear-gradient(top, #8cc27e, #4a942c);
  background-image: -o-linear-gradient(top, #8cc27e, #4a942c);
  background-image: linear-gradient(to bottom, #8cc27e, #4a942c);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 15px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-ko:hover {
  background: #b9cca6;
  background-image: -webkit-linear-gradient(top, #b9cca6, #569629);
  background-image: -moz-linear-gradient(top, #b9cca6, #569629);
  background-image: -ms-linear-gradient(top, #b9cca6, #569629);
  background-image: -o-linear-gradient(top, #b9cca6, #569629);
  background-image: linear-gradient(to bottom, #b9cca6, #569629);
  text-decoration: none;
}